<!DOCTYPE html>
<html lang="en"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:replace=~{layout}>
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div layout:fragment="content">

    <!-- Default Table -->
    <div class="row">
        <div class="col-12">
            <section class="panel" style="margin-bottom: 0px;">
                <div class="panel-body">
                    <div class="row">
                        <div class="col-4">
                            <a href="/countryAdd" class="btn btn-primary">
                                Add New Country
                            </a>
                        </div>
                        <div class="col-8">
                            <form th:action="@{/countries}">
                                <div class="row">
                                    <div class="col-5">
                                        <input type="text" name="keyword" class="form-control">
                                    </div>
                                    <div class="col-3">
                                        <input type="submit" value="Filter" class="btn-success form-control">
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </section>
            <h5 class="card-title">Countries List</h5>
            <table class="table">
                <thead>
                <tr>
                    <th scope="col"><a th:href="@{'/parameters/countries/page/' + ${currentPage} + '/description?sortDir=' + ${reverseSortDir}}">Description</a>
                    </th>
                    <th scope="col"><a
                            th:href="@{'/parameters/countries/' + ${currentPage} 'capital?sortDir=' + ${reverseSortDir}}">Capital</a></th>
                    <th scope="col"><a th:href="@{'/parameters/countries' + ${currentPage} + '/code?sortDir=' + ${reverseSortDir}}">Code</a>
                    </th>
                    <th scope="col"><a th:href="@{'/parameters/countries' + ${currentPage} + '/nationality?sortDir=' + ${reverseSortDir}}">Nationality</a>
                    </th>
                    <th scope="col"><a th:href="@{'/parameters/countries' + ${currentPage} + '/continent?sortDir=' + ${reverseSortDir}}">Continent</a>
                    </th>
                    <th scope="col">Action</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="country: ${countries}">
                    <td th:text="${country.description}"></td>
                    <td th:text="${country.capital}"></td>
                    <td th:text="${country.code}"></td>
                    <td th:text="${country.nationality}"></td>
                    <td th:text="${country.continent}"></td>
                    <td>
                        <div class="btn-group">
                            <a class="btn btn-success" id="detailsButton" th:href="@{'/countryEdit/'+${country.id}}"><i
                                    class="bi bi-pencil-square"></i></a>
                            <a class="btn btn-primary" th:href="@{'/countryDetails/'+${country.id}}"><i
                                    class="bx bx-detail"></i></a>
                            <a class="btn btn-danger" id="deleteButton"
                               th:href="@{/countries/delete/(id=${country.id})}"
                               onclick="return confirm('Are you sure you want to delete this record?')"><i
                                    class="bx bx-x-circle"></i></a>
                        </div>
                    </td>
                </tr>
                </tbody>
            </table>
            <!-- End Default Table  -->
            <div>
                <nav aria-label="Page navigation example">
                    <ul class="pagination">
                        <li class="page-item">
                            <a class="page-link" th:if="${currentPage > 1}" th:href="@{/parameters/countries/page/1}">First</a>
                            <span th:unless="${currentPage > 1}">First</span>
                        </li>
                        <li class="page-item">
                            <a class="page-link" th:if="${currentPage > 1}"
                               th:href="@{'/parameters/countries/page/' + ${currentPage - 1}}">Previous</a>
                            <span th:unless="${currentPage > 1}">Previous</span>
                        </li>
                        <li class="page-item">
                            <span th:each="i: ${#numbers.sequence(1, totalPages)}">
                                <a th:if="${i != currentPage}" th:href="@{'/parameters/countries/page/' + ${i}}">[[${i}]]</a>
                                <span th:unless="${i != currentPage}">[[${i}]]</span>
                            </span>
                        </li>
                        <li class="page-item">
                            <a class="page-link" th:if="${currentPage < totalPages}"
                               th:href="@{'/parameters/countries/page/' + ${currentPage + 1}}">Next</a>
                            <span th:unless="${currentPage < totalPages}">Next</span>
                        </li>
                        <li class="page-item">
                            <a class="page-link" th:if="${currentPage < totalPages}"
                               th:href="@{'/parameters/countries/page/' + ${totalPages}}">Last</a>
                            <span th:unless="${currentPage < totalPages}">Last</span>
                        </li>
                    </ul>
                </nav>
                Total Items [[${totalItems}]] : Page [[${currentPage}]] of [[${totalPages}]]
            </div>

        </div>
    </div>
</div>
</body>
</html>